$mainColor: white;
$secondColor: #ffa500;
$mainBackground: rgb(58, 54, 54);
$mainSize: 30px;
$secondSize: 20px;
$md2: 1400px;
$mainFontFamily: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;