// ползунок stock
.filter__stock {
    box-shadow: inset 0px 0px 3px 3px black;
    border-radius: 8px;
    padding: 10px;
}
// ползунок price
.filter__price {
    box-shadow: inset 0px 0px 3px 3px black;
    border-radius: 8px;
    padding: 10px;
}