@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap');

body {
  font-family: 'Kanit', sans-serif;
    display: flex;
    gap: 10px;
    padding: 0 15px;
    flex-direction: column;
    background-color: $mainBackground;
    overflow-x: hidden;
}
[class*="__container"]{
    max-width: 1400px;
    margin: 0 auto;
    overflow: hidden;
}

